	@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body 
{
	font-family: Roboto Condensed;
	font-size: 48px;
	padding: 0 32px;
	background-image: linear-gradient(to bottom right, lightskyblue, pink);
	background-attachment: fixed;
}
ul
{
	list-style: none;
}
details {
	font-weight: 500;
	/*border: solid 1px;*/
	border-radius: 8px;
	margin: 5px;
	padding: 16px;
	box-shadow: inset 0 0 16px 0 gray, inset 0 0 16px 0 gray;
}
summary
{
	font-size: 48px;
	
}
